.lugs-sevilla-pruebas-carga #asteroids .header {
  cursor: pointer;
  padding: 5px;
}
.lugs-sevilla-pruebas-carga #asteroids .header.toggler-header-collapsed {
      border: solid #8988e896 3px;
}
.lugs-sevilla-pruebas-carga #asteroids .header.toggler-header-expanded {
      border: solid #88e8889e 3px;
}

.lugs-sevilla-pruebas-carga #asteroids .content.toggler-content-expanded {
      border: solid #e7e7ed 1px;
}